# jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# IDE
.idea
.vscode/settings.json

# data + results
data/prep/
results/binary/
results/multiclass/

# Python
*__pycache__*
*egg-info/
dist/
build/
.venv

# Mac
.DS_Store
